.mule/plugins-tmp/mule-servicenow-connector-6.4.0-mule-plugin/new_york/wsdl/assetmanagement/alm_license.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.service-now.com/alm_license" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.service-now.com/alm_license">
<wsdl:types>
<xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.service-now.com/alm_license">
<xsd:element name="getKeys">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="acquisition_method" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="active_to" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="asset_tag" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="beneficiary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_out" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost_center" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="department" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciated_amount" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="disposal_reason" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="entitlement_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expenditure_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="gl_account" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_status" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="invoice_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="is_merged_license" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="justification" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lease_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="license_key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="managed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="merged_into" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model_category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="owned_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="po_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="pre_allocated" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="purchase_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="request_line" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resale_price" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reserved_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retired" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retirement_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rights" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="salvage_value" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skip_sync" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="stockroom" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="support_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="supported_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="warranty_expiration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__encoded_query" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__limit" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__first_row" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__last_row" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getKeysResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="get">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="acquisition_method" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="active_to" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="asset_tag" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="beneficiary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_out" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost_center" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="department" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciated_amount" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="disposal_reason" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="entitlement_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expenditure_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="gl_account" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_status" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="invoice_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="is_merged_license" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="justification" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lease_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="license_key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="managed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="merged_into" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model_category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="owned_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="po_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="pre_allocated" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="purchase_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="request_line" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resale_price" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reserved_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retired" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retirement_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rights" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="salvage_value" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skip_sync" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="stockroom" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="support_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="supported_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="warranty_expiration" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getRecords">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="acquisition_method" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="active_to" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="asset_tag" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="beneficiary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_out" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost_center" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="department" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciated_amount" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="disposal_reason" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="entitlement_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expenditure_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="gl_account" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_status" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="invoice_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="is_merged_license" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="justification" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lease_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="license_key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="managed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="merged_into" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model_category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="owned_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="po_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="pre_allocated" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="purchase_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="request_line" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resale_price" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reserved_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retired" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retirement_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rights" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="salvage_value" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skip_sync" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="stockroom" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="support_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="supported_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="warranty_expiration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__encoded_query" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__limit" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__first_row" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__last_row" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__order_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__order_by_desc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__exclude_columns" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getRecordsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="getRecordsResult">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="acquisition_method" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="active_to" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="asset_tag" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="beneficiary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_out" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost_center" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="department" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciated_amount" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="disposal_reason" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="entitlement_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expenditure_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="gl_account" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_status" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="invoice_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="is_merged_license" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="justification" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lease_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="license_key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="managed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="merged_into" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model_category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="owned_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="po_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="pre_allocated" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="purchase_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="request_line" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resale_price" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reserved_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retired" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retirement_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rights" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="salvage_value" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skip_sync" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="stockroom" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="support_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="supported_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="warranty_expiration" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="update">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="acquisition_method" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="active_to" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="asset_tag" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="beneficiary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_out" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost_center" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="department" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciated_amount" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="disposal_reason" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="entitlement_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expenditure_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="gl_account" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_status" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="invoice_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="is_merged_license" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="justification" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lease_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="license_key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="managed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="merged_into" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="model" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="model_category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="owned_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="po_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="pre_allocated" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="purchase_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="quantity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="request_line" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resale_price" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reserved_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retired" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retirement_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rights" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="salvage_value" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skip_sync" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="stockroom" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="support_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="supported_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="warranty_expiration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insert">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="acquisition_method" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="active_to" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="asset_tag" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="beneficiary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_out" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost_center" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="department" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciated_amount" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="disposal_reason" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="entitlement_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expenditure_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="gl_account" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_status" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="invoice_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="is_merged_license" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="justification" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lease_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="license_key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="managed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="merged_into" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="model" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="model_category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="owned_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="po_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="pre_allocated" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="purchase_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="quantity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="request_line" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resale_price" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reserved_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retired" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retirement_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rights" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="salvage_value" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skip_sync" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="stockroom" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="support_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="supported_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="warranty_expiration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insertResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteMultiple">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="acquisition_method" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="active_to" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="asset_tag" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="beneficiary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="checked_out" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cost_center" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="department" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciated_amount" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="depreciation_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="disposal_reason" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_in" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="entitlement_condition" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expenditure_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="gl_account" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="install_status" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="invoice_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="is_merged_license" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="justification" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lease_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="license_key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="managed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="merged_into" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="model_category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="old_substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="owned_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="po_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="pre_allocated" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="purchase_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="quantity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="request_line" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resale_price" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reserved_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="residual_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retired" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="retirement_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rights" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="salvage_value" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="serial_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skip_sync" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="stockroom" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="substatus" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="support_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="supported_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="warranty_expiration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteMultipleResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteRecord">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteRecordResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="getKeysSoapIn">
<wsdl:part name="alm_license" element="tns:getKeys"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getSoapOut">
<wsdl:part name="alm_license" element="tns:getResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getRecordsSoapIn">
<wsdl:part name="alm_license" element="tns:getRecords"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteMultipleSoapOut">
<wsdl:part name="alm_license" element="tns:deleteMultipleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="insertSoapIn">
<wsdl:part name="alm_license" element="tns:insert"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateSoapOut">
<wsdl:part name="alm_license" element="tns:updateResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getRecordsSoapOut">
<wsdl:part name="alm_license" element="tns:getRecordsResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteMultipleSoapIn">
<wsdl:part name="alm_license" element="tns:deleteMultiple"> </wsdl:part>
</wsdl:message>
<wsdl:message name="insertSoapOut">
<wsdl:part name="alm_license" element="tns:insertResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteRecordSoapIn">
<wsdl:part name="alm_license" element="tns:deleteRecord"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getKeysSoapOut">
<wsdl:part name="alm_license" element="tns:getKeysResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteRecordSoapOut">
<wsdl:part name="alm_license" element="tns:deleteRecordResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getSoapIn">
<wsdl:part name="alm_license" element="tns:get"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateSoapIn">
<wsdl:part name="alm_license" element="tns:update"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="ServiceNowSoap">
<wsdl:operation name="insert">
<wsdl:input message="tns:insertSoapIn"> </wsdl:input>
<wsdl:output message="tns:insertSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="update">
<wsdl:input message="tns:updateSoapIn"> </wsdl:input>
<wsdl:output message="tns:updateSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteMultiple">
<wsdl:input message="tns:deleteMultipleSoapIn"> </wsdl:input>
<wsdl:output message="tns:deleteMultipleSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getKeys">
<wsdl:input message="tns:getKeysSoapIn"> </wsdl:input>
<wsdl:output message="tns:getKeysSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteRecord">
<wsdl:input message="tns:deleteRecordSoapIn"> </wsdl:input>
<wsdl:output message="tns:deleteRecordSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="get">
<wsdl:input message="tns:getSoapIn"> </wsdl:input>
<wsdl:output message="tns:getSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getRecords">
<wsdl:input message="tns:getRecordsSoapIn"> </wsdl:input>
<wsdl:output message="tns:getRecordsSoapOut"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="insert">
<soap:operation soapAction="http://www.service-now.com/alm_license/insert" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="update">
<soap:operation soapAction="http://www.service-now.com/alm_license/update" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteMultiple">
<soap:operation soapAction="http://www.service-now.com/alm_license/deleteMultiple" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getKeys">
<soap:operation soapAction="http://www.service-now.com/alm_license/getKeys" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteRecord">
<soap:operation soapAction="http://www.service-now.com/alm_license/deleteRecord" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="get">
<soap:operation soapAction="http://www.service-now.com/alm_license/get" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getRecords">
<soap:operation soapAction="http://www.service-now.com/alm_license/getRecords" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServiceNow_alm_license">
<wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
<soap:address location="https://dev60300.service-now.com/alm_license.do?SOAP"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>